html, body{
    font-family: 'Roboto', sans-serif !important;
    color: rgba(79,79,79,1);

    --primary-color: #000;
    --primary-color-hover:  rgba(117, 117, 117, 0.1);
    --primary-color-selected:  rgba(117, 117, 117, 0.12);
}

.hide{
    display: none;
}

.section{
    overflow: auto;
}

.PHIL-279{
    --primary-color: #DE1F94;
    --primary-color-hover:  rgba(222, 31, 148, 0.1);
    --primary-color-selected:  rgba(222, 31, 148, 0.12);
    --primary-color-locked:  rgba(222, 31, 148, 0.2);
}

.PHIL-379{
    --primary-color: #F89A0D;
    --primary-color-hover:  rgba(248, 154, 13, 0.1);
    --primary-color-selected:  rgba(248, 154, 13, 0.12);
    --primary-color-locked:  rgba(248, 154, 13, 0.2);
}

.grading-item {
    opacity: 0.5;
    transition: all 0.3s ease-out;
}

.grading-item:hover,
.grading-item.active{
    opacity: 1;
}

.grading-item .choices-grade{
    white-space: nowrap;
    text-align: right;
}

.grading-item .choices-grade .choice{
    background: transparent;
    padding-left: calc(.5em - 1px);
    padding-right: calc(.5em - 1px);
    color: rgba(79,79,79,1);
    transition: all 0.25s ease-out;
}

.grading-item .choices-grade .choice:hover, 
.grading-item .choices-grade .choice.checked{
    background:var(--primary-color-hover);
    color: var(--primary-color);
}

.grading-item .choices-grade .choice.checked{
    background: var(--primary-color-selected);
}

.material-text{
    font-weight: 700;
    min-width: 24px;
}

.name.column{
    margin: auto;
}

.grading-item .name{
    margin: auto;
    white-space: nowrap;
}

.table tr{
    transition: all 0.25s ease-out;
}

.table tr.is-selected{
    background-color: var(--primary-color-hover);
    color: var(--primary-color);
}

.table tr.is-locked{
    background-color: var(--primary-color-locked);
    color: var(--primary-color);
}

.card{
    margin-bottom: 1em;
}

.card .description{
    font-size: 0.8em;
    line-height: 1.3em;
    color: rgba(79,79,79,.6);
}